<!DOCTYPE html>
<html>
  <head>
    <title>⁣</title>
    <link href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript">
      function unselectAll() {
        window.getSelection().removeAllRanges();
      }

      function selectContentsOfElement(el) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(el);
          range.select();

        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(el);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
        }
      }

      function copyContentsOfElement(el) {
        try {
          selectContentsOfElement(el);

          var wasSuccessful = document.execCommand('copy');

          if (!wasSuccessful) {
            throw new Error('Unknown error.');
          }

          return true;
        } catch (err) {
          console.error(`Copy operation failed: ${err.message}`);
        } finally {
          unselectAll();
        }
      }

      function handleElementClick(el) {
        selectContentsOfElement(el);
      }

      function handleCopyClick(el) {
        var result = copyContentsOfElement(document.getElementById('data'));

        if (result) {
          el.style.borderColor = '#36CA75';
        }
      }
    </script>
    <style>
      html, body {
        align-items: center;
        background-color: rgb(12, 12, 12);
        background: linear-gradient(-24deg, rgb(0, 0, 0), rgb(24, 24, 24));
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
      }

      *, *:before, *:after {
        box-sizing: inherit;
      }

      *:focus {
        outline: none;
      }

      .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
      }

      .data-wrapper {
        border-radius: 4px;
        border: 1px solid #383F51;
        /* padding: 14px 14px 0 14px; */
        position: relative;
      }

      .data-wrapper::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(12, 12, 12, 0.8) 100%);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        bottom: 0;
        content: ' ';
        display: block;
        height: 16px;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
      }

      .data-scroll-container {
        max-height: calc(90vh - 3em);
        max-width: 80vw;
        overflow: auto;
        padding: 16px 20px 16px 16px;
        position: relative;
      }

      #data {
        color: #C0C0C0;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 14px;
        white-space: pre;
      }

      #data:hover {
        cursor: pointer;
      }

      #data::selection {
        background-color: #8A8A8A;
      }

      .copy-button-wrapper {
        margin-top: 4px;
        text-align: right;
        width: 100%;
      }

      .copy-button {
        appearance: none;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid #383F51;
        color: #C0C0C0;
        font-size: 16px;
        max-height: 32px;
        max-width: 32px;
        min-height: 32px;
        min-width: 32px;
        padding: 6px;
        transition: background-color 0.15s ease-in-out, border-color 0.5s ease;
      }

      .copy-button:hover {
        cursor: pointer;
      }

      .copy-button:active {
        color: #A0A0A0;
        font-size: 15px;
      }

      .footer {
        width: 100%;
      }

      .message {
        color: #C0C0C0;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.2px;
        text-align: center;
        user-select: none;
      }

      .warning {
        color: rgb(182, 15, 0);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="data-wrapper">
        <div class="data-scroll-container">
          <div id="data" onmouseup="handleElementClick(this);" title="Single-click to select all."><%= data %></div>
        </div>
      </div>
      <div class="copy-button-wrapper">
        <button class="copy-button" onmouseup="handleCopyClick(this);"><i class="far fa-copy"></i></button>
      </div>
    </div>
    <div class="footer">
      <% if (stop) { %>
        <p class="message">Server is no longer online. <span class="warning">Refreshing the page will result in loss of data.</span></p>
      <% } %>
    </div>
  </body>
</html>
